/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Google icons CSS */

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Mine CSS */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#top-bar, #services, #buttons, #top-left, #search-bar, #top-right {
    display: flex;
    flex-direction: row;
}

#top-left {
    display: flex;
    flex: 1;
}

input {
    border: none;
    outline: none;
}

#search-bar {
    display: flex;
    flex: 1 1 auto;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 24px;
    max-width: 690px;
}


#search-results {
    margin-bottom: 2rem;
}

.input-bar {
    width: 100%;
}

#check {
    border-right: 2px solid rgb(64 60 67 / 16%);
    padding-right: 10px;
}

#lupa {
    margin: 0 10px;
}

#mic {
    margin-left: 10px;
}

#buttons {
    float: right;
}

#top-bar {
    justify-content: space-between;
    margin: 20px 30px 0 30px;
}

.logo {
    align-self: center;
    margin-right: 40px;
}

#search, #buttons {
    margin-top: 4px;
}

#search {
    height: 24px;
    margin-left: 8px;
}

::placeholder {
    color: rgba(0,0,0,.87);
    opacity: 1; /* Firefox */
    font-size: 16px;
}
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0,0,0,.87);
}
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0,0,0,.87);
}

#account, #services {
    margin-left: 20px;
}

#icon {
    color: #5f6368;
}

.img-account>img {
    border-radius: 50%;
}

#main-menu>a, #small-menu>a, #tools {
    text-decoration: none;
    color: #5f6368;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 14px;
}

#nav-menu-left {
    display: flex;
    flex-direction: row;
}

#nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    max-width: 690px;
    margin-left: 160px;
    margin-top: 20px;
}

.element {
    margin-right: 10px;
}

.s-icon {
    vertical-align: text-bottom;
}

hr {
    height: 1px;
    border-width: 0;
    background-color: #c2c8ce;
    margin-top: -16px;
}

#lower-bar {
    margin-bottom: 16px;
}

#line {
    background: #1a73e8;
    height: 3px;
    margin-top: 16px;
    margin-right: 10px;
}

#search-all, #all > .s-icon {
    color: #1a73e8;
}

#current {
    color: #70757a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 12px 0;
}

.bold, .ad {
    font-weight: 600;
}

.url-address {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-bottom: 12px;
}

.arrow-down {
    font-size: 12px;
}

.title>a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#results {
    max-width: 690px;
    margin-left: 160px;
}

.description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.58;
    color: #4d5156;
    margin-bottom: 2rem;
}

.small-link {
    color: #1a0dab;
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

#nav-bottom-left {
    float: left;
    padding-top: 1rem;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0px 0 20px 0px;
    background-color: #f2f2f2;
}

.menu-left-b>li>a {
    text-decoration: none;
    color: #70757a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-right: 20px;
}

.menu-left {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 20px;
}

.menu-left-b {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 160px;
}

#location {
    padding-left: 160px;
    border-bottom: 1px solid lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;
}

#country {
    color: #70757a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-right: 2px solid lightgrey;
    margin-right: 10px;
    padding-right: 10px;
}

.big-dot {
    vertical-align: middle;
    font-size: 14px;
    color: #70757a;
}

#zip-code {
    font-weight: 600;
    font-size: 14px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#link-from {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #1a0dab;
}

/* Google special CSS for Google logo i next search results*/

td {
    text-align: center;
}

.g-letter {
    overflow: hidden;
    height: 40px;
    display: block;
}

.logo-pages {
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
}

.letter2, .letter3 {
    vertical-align: bottom;
}

.link-letter {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.link-letter:hover {
    border-bottom: 1px solid blue;
}

#first-page {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#next-results {
    width: 690px;
    padding-left: 160px;
    display: flex;
}

#table {
    display: block;
    margin: 20px auto;
}